<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glitter</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/profile.js"></script>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <%if(accountInfo === undefined) { %>
            <div class="history-header">Please sign in to access profile information!</div>
                <div class="acc-form">
                    <form action="/auth/sign-up" method="GET">
                        <button class="accform-btn" type="submit" id="sign-up">Sign-Up</button>
                    </form>
                    <span> or </span>
                    <form action="/auth/sign-in" method="GET">
                        <button class="accform-btn" type="submit" id="sign-in">Sign-In</button>
                    </form>
                </div>
            </div>
        
        <% } else { %>
            <div class="history-header"><%=accountInfo.accountname%>'s Profile</div>
            <div class="content">
                <div class="profile-form">Username: <%=accountInfo.accountname%>
                    <form action="/auth/<%=accountInfo._id%>/edit/username" method="GET">
                        <button class ='edit-btn' type="submit">Edit</button>
                    </form>
                </div>
                <div class="profile-form">Change Password
                    <form action="/auth/<%=accountInfo._id%>/edit/password" method="GET">
                        <button class ='edit-btn' type="submit">Request</button>
                    </form>
                </div>
                <div class="gleet-history-title"><%=accountInfo.accountname%>'s' Gleet History</div>
            </div>
                <%if(posts === undefined){ %>
                    <p> make some posts!</p>
                <% } else { %>
                    
                    <%for(post of posts) {%>
                        <%if(accountInfo._id === post.author._id.toString()){ %>
                            <div class="gleet-container">
                                <p><%=post.content%></p>
                                <div class="function">
                                    <form action="/post/<%=post._id%>/edit" method="GET">
                                        <button class ='edit-btn' type="submit">Edit</button>
                                    </form>
                                    <form action="/post/<%=post._id%>/?_method=DELETE" method="POST">
                                        <button class='delete-btn' type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                    
                <% } %>
            </div>
        <% } %>
    </main>
</body>
</html>